---
import Timeline, { Items } from '@/common/components/Timeline'

const anchorClass = 'text-gray-700 font-semibold hover:text-gray-900'

const items: Items = [
  {
    url: 'https://classbento.com.au/',
    title: 'Software Developer (ClassBento)',
    description: `I was part of the team for the maintenance and development of new functionalities of the <a class="${anchorClass}" href="https://classbento.com.au/" target="_blank">ClassBento</a> website, which is deployed in different countries.`,
    timeStart: '2021-10-01T05:00:00.000Z',
    timeEnd: '2022-12-01T05:00:00.000Z',
    tools: ['react', 'next', 'laravel', 'tailwind', 'mysql'],
  },
  {
    url: 'https://www.rimac.com/',
    title: 'Software Developer (Rimac)',
    description: `I was part of the team in charge of developing new functionalities and giving support to the <a class="${anchorClass}" href="https://corredores.rimac.com/login" target="_blank">Rimac broker portal</a>.`,
    timeStart: '2021-04-01T05:00:00.000Z',
    timeEnd: '2021-09-01T05:00:00.000Z',
    tools: ['react'],
  },
  {
    url: 'https://www.flexit.net/',
    title: 'Software Developer (FlexIT)',
    description: `Part of the team in charge of developing the different <a class="${anchorClass}" href="https://www.flexit.net/" target="_blank">FlexIT</a> products. Among the main ones are: <a class="${anchorClass}" href="https://www.enhancetv.com.au/" target="_blank">EnhanceTV</a>, Tap Rewards and Social Feed.`,
    timeStart: '2017-08-01T05:00:00.000Z',
    timeEnd: '2020-08-01T05:00:00.000Z',
    tools: ['vue', 'laravel', 'flutter', 'bootstrap', 'mysql'],
  },
  {
    url: 'http://www.grupocoopsol.com/',
    title: 'Systems Analyst (Coopsol Group)',
    description: `I developed all the websites of the different companies that make up the <a class="${anchorClass}" href="http://www.grupocoopsol.com/" target="_blank">Coopsol Group</a>.`,
    timeStart: '2015-09-01T05:00:00.000Z',
    timeEnd: '2017-01-01T05:00:00.000Z',
    tools: ['laravel', 'bootstrap', 'mysql'],
  },
]
---

<section class="space-y-4">
  <h3 class="text-center text-xl font-semibold text-blue-400">EXPERIENCE</h3>
  <Timeline {items} />
</section>
