---
import {
  VueIcon,
  NextIcon,
  NuxtIcon,
  ReactIcon,
  MysqlIcon,
  DockerIcon,
  FlutterIcon,
  LaravelIcon,
  TailwindIcon,
  BootstrapIcon,
} from '@/common/Icons'
import HomeKnowledgeProgress from './HomeKnowledgeProgress.astro'

const brandIconClass = 'w-12 h-12 md:w-8 md:h-8'
const brandNameClass = 'text-xs tracking-tight uppercase'
---

<section class="space-y-4">
  <h3 class="text-center text-xl font-bold text-blue-400 uppercase">
    Knowledge
  </h3>
  <p class="text-center">Some of the technologies I use frequently.</p>
  <div class="grid grid-cols-2 sm:grid-cols-3 gap-0.5">
    <HomeKnowledgeProgress percent={90}>
      <ReactIcon className={brandIconClass} />
      <p class={brandNameClass}>react</p>
    </HomeKnowledgeProgress>
    <HomeKnowledgeProgress percent={90}>
      <NextIcon className={brandIconClass} />
      <p class={brandNameClass}>next</p>
    </HomeKnowledgeProgress>
    <HomeKnowledgeProgress percent={90}>
      <LaravelIcon className={brandIconClass} />
      <p class={brandNameClass}>laravel</p>
    </HomeKnowledgeProgress>
    <HomeKnowledgeProgress percent={50}>
      <VueIcon className={brandIconClass} />
      <p class={brandNameClass}>vue</p>
    </HomeKnowledgeProgress>
    <HomeKnowledgeProgress percent={50}>
      <NuxtIcon className={brandIconClass} />
      <p class={brandNameClass}>nuxt</p>
    </HomeKnowledgeProgress>
    <HomeKnowledgeProgress percent={50}>
      <FlutterIcon className={brandIconClass} />
      <p class={brandNameClass}>flutter</p>
    </HomeKnowledgeProgress>
    <HomeKnowledgeProgress percent={90}>
      <TailwindIcon className={brandIconClass} />
      <p class={brandNameClass}>tailwind</p>
    </HomeKnowledgeProgress>
    <HomeKnowledgeProgress percent={90}>
      <BootstrapIcon className={brandIconClass} />
      <p class={brandNameClass}>bootstrap</p>
    </HomeKnowledgeProgress>
    <HomeKnowledgeProgress percent={60}>
      <MysqlIcon className={brandIconClass} />
      <p class={brandNameClass}>mysql</p>
    </HomeKnowledgeProgress>
    <HomeKnowledgeProgress percent={30}>
      <DockerIcon className={brandIconClass} />
      <p class={brandNameClass}>docker</p>
    </HomeKnowledgeProgress>
  </div>
  <p class="text-center">Also, I use GIT for project version control.</p>
</section>
