---
import {
  VueIcon,
  NextIcon,
  NuxtIcon,
  ReactIcon,
  MysqlIcon,
  DockerIcon,
  FlutterIcon,
  LaravelIcon,
  TailwindIcon,
  BootstrapIcon,
} from '@/common/components/ColorIcons'
import HomeKnowledgeProgress from './HomeKnowledgeProgress.astro'

const items = [
  { name: 'react', percent: 90, Icon: ReactIcon },
  { name: 'next', percent: 90, Icon: NextIcon },
  { name: 'laravel', percent: 90, Icon: LaravelIcon },
  { name: 'vue', percent: 50, Icon: VueIcon },
  { name: 'nuxt', percent: 50, Icon: NuxtIcon },
  { name: 'flutter', percent: 50, Icon: FlutterIcon },
  { name: 'tailwind', percent: 90, Icon: TailwindIcon },
  { name: 'bootstrap', percent: 90, Icon: BootstrapIcon },
  { name: 'mysql', percent: 60, Icon: MysqlIcon },
  { name: 'docker', percent: 30, Icon: DockerIcon },
]

const iconClass = 'w-12 h-12 md:w-8 md:h-8'
const nameClass = 'text-xs tracking-tight uppercase'
const percentClass = 'text-xs text-gray-400 -mt-0.5'
---

<section class="space-y-4">
  <h3 class="text-center text-xl font-semibold text-blue-400 uppercase">
    Knowledge
  </h3>
  <p>
    Some of the technologies I use frequently. Each displayed technologies has
    an index on the level of use.
  </p>
  <div class="grid grid-cols-2 sm:grid-cols-3 gap-0.5">
    {
      items.map(({ name, percent, Icon }) => (
        <HomeKnowledgeProgress {percent}>
          <Icon className={iconClass} />
          <div class="text-center">
            <p class={nameClass}>{name}</p>
            <p class={percentClass}>{percent}%</p>
          </div>
        </HomeKnowledgeProgress>
      ))
    }
  </div>
  <p>Also, I use GIT for project version control.</p>
</section>
